header {
    font-size: 300%;
    text-align: center;
}

li {
    display: inline;
}

body {
    background: url("iceland_map.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70%;
    background-position: center;
}
