/*----------header----------*/

header {
    margin: 15px;
}

header h1 {
    font-size: 300%;
    border-style: solid;
    border-color: blue red red blue;
    font-family: cursive;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    margin: 25px 0px 15px 0px;
}

header form {
    display: block;
}

header section {
    display: flex;
    flex-wrap: nowrap;
}

/*-----flag-----*/
header img {
    width: 32px;
    height: 26px;
}

header p {
    padding-left: 5px;
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 3px lightcyan;
}

/*-----search-----*/
input[type=text] {
    width: 110px;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 2px;
    font-size: 16px;
    background-color: lightcyan;
    background-image: url("images/search.png"); 
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: 1px;
    padding-bottom: 2px;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }

  
/*----------body----------*/

body {
    margin: 15px;
    background: url("images/iceland_map.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70%;
    background-position: center;
}

#containerpicture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#containerpicture img {
    width: 95%;
}

#containerpicture h5 {
    font-weight: bolder;
    text-shadow: 1px 1px 3px lightcyan;
}


/*----------footer----------*/

footer {
    font-weight: bolder;
    font-size: small;
    background-color: lightcyan;
    padding: 5px;
    margin: 15px;
    opacity: 0.8;
}
